export AML_SP_PASSWORD_VALUE=<clientSecret>
export AML_SP_TENANT_ID=<tenantId>
export AML_SP_APP_ID=<clientId>
export WORKSPACE_SUBSCRIPTION_ID=<config.json > subscription_id>
export WORKSPACE_RESOURCE_GROUP=<config.json > resource_group>
export WORKSPACE_NAME=<config.json > workspace_name>
export AML_COMPUTE_NAME=
