absl-py==0.11.0; python_full_version >= "3.6.1"
adal==1.2.7; python_version >= "3.8" and python_version < "3.9"
aiohttp==3.7.4.post0; python_version >= "3.6" and python_version < "4"
applicationinsights==0.11.10; python_version >= "3.8" and python_version < "3.9"
appnope==0.1.2; sys_platform == "darwin" and python_version >= "3.7" and platform_system == "Darwin"
argon2-cffi==21.1.0; python_version >= "3.6"
async-timeout==3.0.1; python_version >= "3.6" and python_version < "4" and python_full_version >= "3.5.3"
attrs==21.2.0; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.1"
azure-common==1.1.27; python_version >= "3.8" and python_version < "3.9"
azure-core==1.19.0; python_version >= "3.8" and python_version < "3.9"
azure-functions-durable==1.1.2; python_version >= "3.6" and python_version < "4"
azure-functions==1.7.2
azure-graphrbac==0.61.1; python_version >= "3.8" and python_version < "3.9"
azure-identity==1.4.1; python_version >= "3.8" and python_version < "3.9"
azure-mgmt-authorization==0.61.0; python_version >= "3.8" and python_version < "3.9"
azure-mgmt-containerregistry==8.1.0; python_version >= "3.8" and python_version < "3.9"
azure-mgmt-core==1.3.0; python_version >= "3.8" and python_version < "3.9"
azure-mgmt-keyvault==9.1.0; python_version >= "3.8" and python_version < "3.9"
azure-mgmt-resource==13.0.0; python_version >= "3.8" and python_version < "3.9"
azure-mgmt-storage==11.2.0; python_version >= "3.8" and python_version < "3.9"
azureml-automl-core==1.34.1; python_version >= "3.8" and python_version < "3.9"
azureml-core==1.34.0; python_version >= "3.8" and python_version < "3.9"
azureml-dataprep-native==38.0.0
azureml-dataprep-rslex==1.20.3; python_version >= "3.8" and python_version < "3.9"
azureml-dataprep==2.22.3; python_version >= "3.8" and python_version < "3.9"
azureml-dataset-runtime==1.34.0; python_version >= "3.8" and python_version < "3.9"
azureml-pipeline-core==1.34.0; python_version >= "3.8" and python_version < "3.9p"
azureml-pipeline-steps==1.34.0; python_version >= "3.8" and python_version < "3.9p"
azureml-pipeline==1.34.0; python_version >= "3.8" and python_version < "3.9p"
azureml-telemetry==1.34.0; python_version >= "3.8" and python_version < "3.9"
azureml-train-automl-client==1.34.0; python_version >= "3.8" and python_version < "3.9"
azureml-train-core==1.34.0; python_version >= "3.8" and python_version < "3.9p"
azureml-train-restclients-hyperdrive==1.34.0; python_version >= "3.8" and python_version < "3.9p"
backcall==0.2.0; python_version >= "3.7"
backports.tempfile==1.0; python_version >= "3.8" and python_version < "3.9"
backports.weakref==1.0.post1; python_version >= "3.8" and python_version < "3.9"
bleach==4.1.0; python_version >= "3.7"
cachetools==4.2.4; python_version >= "3.5" and python_version < "4.0" and python_full_version >= "3.6.1"
cerberus==1.3.4; python_version >= "2.7"
certifi==2021.5.30; python_version >= "3.8" and python_version < "3.9" and python_full_version >= "3.6.1"
cffi==1.14.6; python_version >= "3.8" and python_version < "3.9" and implementation_name == "pypy"
chardet==4.0.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version >= "3.5.0"
charset-normalizer==2.0.6; python_full_version >= "3.6.0" and python_version >= "3.6" and python_version < "4"
click==7.1.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
cloudpickle==1.6.0; python_version >= "3.8" and python_full_version >= "3.6.1" and python_version < "3.9"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0"
contextlib2==21.6.0; python_version >= "3.8" and python_version < "3.9"
cryptography==3.4.8; python_version >= "3.8" and python_version < "3.9" and (python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "3.9" or python_version >= "3.8" and python_version < "3.9" and python_full_version >= "3.5.0")
debugpy==1.5.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
decorator==5.1.0; python_version >= "3.7"
defusedxml==0.7.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
deprecated==1.2.13; python_full_version >= "3.6.1"
dill==0.3.4; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.1.0")
distro==1.6.0; python_version >= "3.8" and python_version < "3.9"
docker==5.0.2; python_version >= "3.8" and python_version < "3.9"
docstring-parser==0.11; python_version >= "3.6" and python_full_version >= "3.6.1"
dotnetcore2==2.1.21; python_version >= "3.8" and python_version < "3.9"
entrypoints==0.3; python_full_version >= "3.6.1" and python_version >= "3.7"
fire==0.4.0; python_full_version >= "3.6.1"
furl==2.1.3; python_version >= "3.6" and python_version < "4"
google-api-core==1.31.2; python_version >= "3.6" and python_full_version >= "3.6.1"
google-api-python-client==1.12.8; python_full_version >= "3.6.1"
google-auth-httplib2==0.1.0; python_full_version >= "3.6.1"
google-auth==1.35.0; python_version >= "3.6" and python_full_version >= "3.6.1"
google-cloud-core==2.0.0; python_version >= "3.6" and python_full_version >= "3.6.1"
google-cloud-storage==1.42.3; python_full_version >= "3.6.1"
google-crc32c==1.2.0; python_version >= "3.6" and python_full_version >= "3.6.1"
google-resumable-media==2.0.3; python_version >= "3.6" and python_full_version >= "3.6.1"
googleapis-common-protos==1.53.0; python_version >= "3.6" and python_full_version >= "3.6.1"
httplib2==0.19.1; python_full_version >= "3.6.1"
idna==3.2; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version >= "3.6" and python_version < "4"
ipykernel==6.4.1; python_version >= "3.7"
ipython-genutils==0.2.0; python_version >= "3.7" and python_version < "4.0"
ipython==7.28.0; python_version >= "3.7"
ipywidgets==7.6.5
isodate==0.6.0; python_version >= "3.8" and python_version < "3.9"
jedi==0.18.0; python_version >= "3.7"
jeepney==0.7.1; python_version >= "3.8" and python_version < "3.9"
jinja2==3.0.1; python_version >= "3.6"
jmespath==0.10.0; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "3.9" or python_version >= "3.8" and python_version < "3.9" and python_full_version >= "3.3.0"
jsonpickle==2.0.0; python_version >= "3.8" and python_version < "3.9"
jsonschema==3.2.0; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.1"
jupyter-client==7.0.5; python_full_version >= "3.6.1" and python_version >= "3.7"
jupyter-console==6.4.0; python_version >= "3.6"
jupyter-core==4.8.1; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1"
jupyter==1.0.0
jupyterlab-pygments==0.1.2; python_version >= "3.7"
jupyterlab-widgets==1.0.2; python_version >= "3.6"
jupytext==1.13.0; python_version >= "3.6" and python_version < "4.0"
kfp-pipeline-spec==0.1.11; python_full_version >= "3.6.1"
kfp-server-api==1.7.0; python_full_version >= "3.6.1"
kfp==1.8.4; python_full_version >= "3.6.1"
kubernetes==18.20.0
markdown-it-py==1.1.0; python_version >= "3.6" and python_version < "4.0"
markupsafe==2.0.1; python_version >= "3.7"
matplotlib-inline==0.1.3; python_version >= "3.7"
mdit-py-plugins==0.2.8; python_version >= "3.6" and python_version < "4.0"
mistune==0.8.4; python_version >= "3.7"
msal-extensions==0.2.2; python_version >= "3.8" and python_version < "3.9"
msal==1.15.0; python_version >= "3.8" and python_version < "3.9"
msrest==0.6.21; python_version >= "3.8" and python_version < "3.9"
msrestazure==0.6.4; python_version >= "3.8" and python_version < "3.9"
multidict==5.2.0; python_version >= "3.6" and python_version < "4"
nbclient==0.5.4; python_full_version >= "3.6.1" and python_version >= "3.7"
nbconvert==6.2.0; python_version >= "3.7"
nbformat==5.1.3; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1"
ndg-httpsclient==0.5.1; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "3.9" or python_version >= "3.8" and python_version < "3.9" and python_full_version >= "3.4.0"
nest-asyncio==1.5.1; python_full_version >= "3.6.1" and python_version >= "3.7"
notebook==6.4.4; python_version >= "3.6"
numpy==1.21.2; python_version >= "3.7" and python_version < "3.11"
oauthlib==3.1.1; python_version >= "3.6" and python_full_version >= "3.6.1"
orderedmultidict==1.0.1; python_version >= "3.6" and python_version < "4"
packaging==21.0; python_version >= "3.7" and python_full_version >= "3.6.1"
pandocfilters==1.5.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
parso==0.8.2; python_version >= "3.7"
pathspec==0.9.0; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "3.9" or python_version >= "3.8" and python_version < "3.9" and python_full_version >= "3.5.0"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.7"
pickleshare==0.7.5; python_version >= "3.7"
portalocker==1.7.1
prometheus-client==0.11.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
prompt-toolkit==3.0.20; python_full_version >= "3.6.2" and python_version >= "3.7"
protobuf==3.18.0; python_version >= "3.6" and python_full_version >= "3.6.1"
ptyprocess==0.7.0; sys_platform != "win32" and python_version >= "3.7" and os_name != "nt"
py==1.10.0; python_version >= "3.6" and python_full_version < "3.0.0" and implementation_name == "pypy" or implementation_name == "pypy" and python_version >= "3.6" and python_full_version >= "3.4.0"
pyarrow==3.0.0; python_version >= "3.8" and python_version < "3.9"
pyasn1-modules==0.2.8; python_full_version >= "3.6.1"
pyasn1==0.4.8; python_version >= "3.8" and python_version < "3.9" and python_full_version >= "3.6.1"
pycparser==2.20; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "3.9" or python_version >= "3.8" and python_version < "3.9" and python_full_version >= "3.4.0"
pydantic==1.8.2; python_full_version >= "3.6.1"
pygments==2.10.0; python_version >= "3.7"
pyjwt==2.2.0; python_version >= "3.8" and python_version < "3.9"
pyopenssl==20.0.1; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "3.9" or python_version >= "3.8" and python_version < "3.9" and python_full_version >= "3.5.0"
pyparsing==2.4.7; python_full_version >= "3.6.1" and python_version >= "3.7"
pyrsistent==0.18.0; python_version >= "3.6" and python_full_version >= "3.6.1"
python-box==5.4.1; python_version >= "3.6"
python-dateutil==2.8.2; python_version >= "3.8" and python_version < "3.9" and python_full_version >= "3.6.1" and (python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "3.9" or python_version >= "3.8" and python_version < "3.9" and python_full_version >= "3.3.0")
pytz==2021.3; python_version >= "3.8" and python_version < "3.9" and python_full_version >= "3.6.1"
pywin32==227; sys_platform == "win32"
pywinpty==1.1.4; os_name == "nt" and python_version >= "3.6"
pyyaml==5.4.1; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.1"
pyzmq==22.3.0; python_full_version >= "3.6.1" and python_version >= "3.7"
qtconsole==5.1.1; python_version >= "3.6"
qtpy==1.11.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
requests-oauthlib==1.3.0; python_version >= "3.8" and python_version < "3.9" and python_full_version >= "3.6.1"
requests-toolbelt==0.9.1; python_full_version >= "3.6.1"
requests==2.26.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
rsa==4.7.2; python_version >= "3.6" and python_version < "4" and python_full_version >= "3.6.1"
ruamel.yaml.clib==0.2.6; platform_python_implementation == "CPython" and python_version < "3.9" and python_version >= "3.8"
ruamel.yaml==0.17.4; python_version >= "3"
secretstorage==3.3.1; python_version >= "3.8" and python_version < "3.9"
send2trash==1.8.0; python_version >= "3.6"
six==1.16.0; python_version >= "3.6" and python_version < "4" and python_full_version >= "3.6.1" and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version >= "3.3.0") and (python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "3.9" or python_version >= "3.8" and python_version < "3.9" and python_full_version >= "3.3.0") and (python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "3.9" or python_version >= "3.8" and python_version < "3.9" and python_full_version >= "3.5.0") and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7")
strip-hints==0.1.10; python_full_version >= "3.6.1"
tabulate==0.8.9; python_full_version >= "3.6.1"
tblib==1.7.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
termcolor==1.1.0; python_full_version >= "3.6.1"
terminado==0.12.1; python_version >= "3.6"
testpath==0.5.0; python_version >= "3.7"
toml==0.10.2; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.3.0"
tornado==6.1; python_full_version >= "3.6.1" and python_version >= "3.7"
traitlets==5.1.0; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1"
typing-extensions==3.10.0.2; python_version < "3.9" and python_full_version >= "3.6.1" and python_version >= "3.6"
uritemplate==3.0.1; python_full_version >= "3.6.1"
urllib3==1.26.6; python_full_version >= "3.6.1" and python_version < "3.9" and python_version >= "3.8" and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6") and (python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "3.9" or python_full_version >= "3.5.0" and python_version < "3.9" and python_version >= "3.8")
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_version >= "3.7"
webencodings==0.5.1; python_version >= "3.7"
websocket-client==1.2.1; python_version >= "3.8" and python_full_version >= "3.6.1" and python_version < "3.9"
widgetsnbextension==3.5.1
wrapt==1.13.0; python_full_version >= "3.6.1"
yarl==1.6.3; python_version >= "3.6" and python_version < "4"
