{%- extends 'null.j2' -%}
import os

{%- block header -%}
#!/usr/bin/env python
# coding: utf-8
{% endblock header %}

{% block in_prompt %}
{% if resources.global_content_filter.include_input_prompt -%}
    # In[{{ cell.execution_count if cell.execution_count else ' ' }}]:
{% endif %}
{% endblock in_prompt %}

{% block input %}
{% if 'input' in cell['metadata'].get('tags', []): -%}
def get_input(local=False):
    if local:
    {% filter indent(8) %}
        {{ cell.source | ipython2python }}
    {% endfilter %}

        return filename
    print(cell['metadata'].get('tags', []))
    dids = os.getenv('DIDS', None)

    if not dids:
        print("No DIDs found in environment. Aborting.")
        return

    dids = json.loads(dids)

    cwd = os.getcwd()
    print('cwd', cwd)
        

    for did in dids:
        print('ls', f'/data/inputs/{did}/0')
        print('ls2', os.listdir(f'/data/inputs/'))
        filename = Path(f'/data/inputs/{did}/0')  # 0 for metadata service
        print(f"Reading asset file {filename}.")
        return filename

{% elif 'train' in cell['metadata'].get('tags', []): -%}
def run_model(local=False):

    t0 = time.time()
    {% filter indent(4) %}
    {{ cell.source | ipython2python }}
    {% endfilter %}

{% else -%}
{{ cell.source | ipython2python }}

{% endif %}
{% endblock input %}
if __name__ == "__main__":
    run_model()

{% block markdowncell scoped %}
{{ cell.source | comment_lines }}
{% endblock markdowncell %}
