import matplotlib.pyplot as plt
import numpy as np
import os 
from pathlib import Path
import pickle
import random
import sys

import torch
import torch.nn as nn
import torch.nn.parallel
import torch.backends.cudnn as cudnn
import torch.optim as optim
import torch.utils.data
import torchvision.datasets as dset
import torchvision.transforms as transforms
import torchvision.utils as vutils

def test_dcgan(local=False):

    results_dir = Path('results')

    if not results_dir.exists():
        results_dir.mkdir()

    weights_path = Path("netG.pth")

    if not weights_path.exists():
        os.system("wget https://www.dropbox.com/s/p3pjgmpiki7w0ur/netG.pth")

    nc = 3
    nz = 100
    ngf = 64
    ngpu = 1

    # Decide which device we want to run on
    device = torch.device("cuda:0" if (torch.cuda.is_available() and ngpu > 0) else "cpu")

    # Network
    network = {% network %}

    # Create the generator
    netG = network(ngpu).to(device)

    # Handle multi-gpu if desired
    if (device.type == 'cuda') and (ngpu > 1):
        netG = nn.DataParallel(netG, list(range(ngpu)))

    netG.load_state_dict(torch.load(weights_path, map_location=torch.device('cpu')))

    netG.eval()

    # Create batch of latent vectors that we will use to visualize
    #  the progression of the generator
    fixed_noise = torch.randn(1, nz, 1, 1, device=device)

    with torch.no_grad():
        img = netG(fixed_noise).detach().cpu()

    def denormalize_image(image):
        """Reverse to normalize_image() function"""
        max_ = image.max()
        min_ = image.min()
        return (image - min_)/(max_ - min_)

    img = denormalize_image(img)

    img = img.squeeze().permute(1,2,0)

    filename = results_dir / 'test.pickle' if local else "/data/outputs/result"

    with open(filename, 'wb') as pickle_file:
        print(f"Pickling results in {filename}")
        pickle.dump(img, pickle_file)

if __name__ == "__main__":
    local = (len(sys.argv) == 2 and sys.argv[1] == "local")
    test_dcgan(local)