# yaml-language-server: $schema=https://json-schema.org/draft-07/schema#
name: Build
on: 
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
      - name: Update Generated Files
        run: |
          pip-compile --output-file=requirements.txt requirements.in
          pip-compile --output-file=requirements-dev.txt requirements-dev.in
      - name: Validate Generated Files
        id: diff
        continue-on-error: true
        run: |
          git diff --exit-code
      - name: Report Outdated Generated Files
        if: steps.diff.outcome != 'success'
        run: |
          echo "Generated requirements files are not up to date, see requirements.txt and requirements-dev.text for instructions."
          exit 1
      - name: Lint
        run: |
          flake8 cli sdk test
      - name: Test
        run: |
          mkdir -p artifacts/tests 
          pytest \
            --junitxml=artifacts/tests/results.xml \
            --cov=./cli \
            --cov=./sdk \
            --cov-report=term \
            --cov-report=xml:artifacts/tests/coverage.xml \
            --cov-report=html:artifacts/tests/coverage.html \
            | tee artifacts/tests/output.txt
      - name: Upload Test Results
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: artifacts/tests
        if: ${{ always() }}
      - name: Report Test Results
        uses: EnricoMi/publish-unit-test-result-action/composite@v1
        if: ${{ always() && github.event_name == 'pull_request'}}
        with:
          github_token: ${{github.token}}
          files: ./artifacts/tests/results.xml
      - name: Report Coverage
        uses: MishaKav/pytest-coverage-comment@v1.1.6
        if: ${{ success() && github.event_name == 'pull_request'}}
        with:
          github-token: ${{github.token}}
          pytest-coverage-path: ./artifacts/tests/output.txt
          junitxml-path: ./artifacts/tests/results.xml
