# yaml-language-server: $schema=https://json-schema.org/draft-07/schema#
name: Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
      - name: Update Generated Files
        run: |
          poetry export -f requirements.txt --output requirements.txt --without-hashes
          poetry export -f requirements.txt --output requirements-dev.txt --without-hashes --dev
      - name: Install Packages
        run: |
          python -m pip install -r requirements-dev.txt
      - name: Validate Generated Files
        id: diff
        continue-on-error: true
        run: |
          git diff --exit-code
      - name: Report Outdated Generated Files
        if: steps.diff.outcome != 'success'
        run: |
          echo "Generated requirements files are not up to date, see requirements.txt and requirements-dev.text for instructions."
          exit 1
      - name: Lint Python Files
        run: |
          flake8 **/*.py
  # deploy-durable-functions-backend:
  #   runs-on: ubuntu-latest
  #   env:
  #     DURABLE_FUNCTIONAPP_PACKAGE_PATH: "durable-functions-app-package"
  #     DURABLE_FUNCTIONAPP_NAME: "same-df-backend"
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v2
  #       with:
  #         submodules: recursive
  #     - name: Setup Python 3.10 Environment
  #       uses: actions/setup-python@v1
  #       with:
  #         python-version: "3.10"
  #     - name: Package Durable Functions Backend App
  #       shell: bash
  #       run: |
  #         pushd scripts
  #         ./generate-durable-functions-app-package.sh ../${{ env.DURABLE_FUNCTIONAPP_PACKAGE_PATH }}
  #         popd
  #     - name: Resolve Durable Functions Backend Dependencies Using Pip
  #       shell: bash
  #       run: |
  #         pushd './${{ env.DURABLE_FUNCTIONAPP_PACKAGE_PATH }}'
  #         python -m pip install --upgrade pip
  #         pip install -r requirements.txt --target=".python_packages/lib/site-packages"
  #         popd
  #     - name: Deploy Durable Functions Backend to Azure
  #       uses: Azure/functions-action@v1
  #       id: fa
  #       with:
  #         app-name: ${{ env.DURABLE_FUNCTIONAPP_NAME }}
  #         package: ${{ env.DURABLE_FUNCTIONAPP_PACKAGE_PATH }}
  #         publish-profile: ${{ secrets.DURABLE_FUNCTIONAPP_PUBLISH_PROFILE }}
  #     - name: Cleanup Durable Functions App Package
  #       shell: bash
  #       run: |
  #         rm -rf ${{ env.DURABLE_FUNCTIONAPP_PACKAGE_PATH }}
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      # AZURE SECRET BLOB contains variables for connecting to AML. Specifically:
      # export AML_SP_NAME="xxxx"
      # export AML_SP_APP_ID="<UID>"
      # export AML_SP_OBJECT_ID="<UID>"
      # export AML_SP_TENANT_ID="<UID>"
      # export AML_SP_PASSWORD_VALUE="**PASSWORD**"
      # export AML_SP_PASSWORD_ID="<UID>"

      # export WORKSPACE_SUBSCRIPTION_ID="<UID>"
      # export WORKSPACE_RESOURCE_GROUP="Resource_Group_Name"
      # export WORKSPACE_NAME="WORKSPACE_NAME"
      # Read here - https://docs.microsoft.com/en-us/azure/machine-learning/how-to-setup-authentication - to understand how to populate these values.
      # On your local machine, put these all in a dotenv compatible file (.env.sh) at the root of your project.
      - name: Download env variables
        run: |
          echo "$AZURE_SECRET_BLOB" > ./.env.sh
        shell: bash
        env:
          AZURE_SECRET_BLOB: ${{secrets.AZURE_SECRET_BLOB}}
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
      - name: Update Generated Files
        run: |
          poetry export -f requirements.txt --output requirements.txt --without-hashes
          poetry export -f requirements.txt --output requirements-dev.txt --without-hashes --dev
      - name: Install Packages
        run: |
          python -m pip install -r requirements-dev.txt
      - name: Set up Kubeconfig from Github Secret
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.CORE_TEAM_CLUSTER_KUBECONFIG }}" > $HOME/.kube/config
      - name: Test
        run: |
          set -o pipefail
          mkdir -p artifacts/tests 
          pytest \
            --junitxml=artifacts/tests/results.xml \
            --cov=./backends \
            --cov=./cli \
            --cov=./objects \
            --cov=./sdk \
            --cov=./clients \
            --cov=./jupyter \
            --cov-report=term \
            --cov-report=xml:artifacts/tests/coverage.xml \
            --cov-report=html:artifacts/tests/coverage.html \
            | tee artifacts/tests/output.txt
      - name: Upload Test Results
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: artifacts/tests
        if: ${{ always() }}
      - name: Report Test Results
        uses: EnricoMi/publish-unit-test-result-action/composite@v1
        if: ${{ always() && github.event_name == 'pull_request'}}
        with:
          github_token: ${{github.token}}
          files: ./artifacts/tests/results.xml
      - name: Report Coverage
        uses: MishaKav/pytest-coverage-comment@v1.1.6
        if: ${{ success() && github.event_name == 'pull_request'}}
        with:
          github-token: ${{github.token}}
          pytest-coverage-path: ./artifacts/tests/output.txt
          junitxml-path: ./artifacts/tests/results.xml
